@import '../../css/globals';
#login-section1__container{
    height: 100vh !important;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // justify-items: center;
    // align-content: center;
    // padding-top: 30%;
    h2{
        font-weight: 400 !important;
        font-size: 2.3em !important;
    }
    label{
font-weight: 400;
color: $light-grey-color;
    }
    input{
        height: 60px;
        background: #F2F2F220;
        border: none;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        padding-left: 10%;
        &::placeholder{
          color:$white ;
          opacity: 0.5;
          font-size: 0.8em;
          transform: translateY(-2px);
        }
      }
      button{
          margin-top: 40px;
      }
}

