@import '../../../css/globals';
#explore-section1
{ max-width: 600px;
    &__section{
        width:100%;
        height: 100%;
        background: $primary-color;
       
    }
    &__description
    {
        position: absolute;
        top:40%;
        left:15%;
        z-index: 2;
        h5{         
            line-height: 30px;
            /* or 150% */
            letter-spacing: 0.02em;
            margin-top: 20px;
        }
    }
    &__thumbnail-actions
    {
        margin: 20px auto;
    }
}
.explore-section1{ 
    &__ratings{
    max-width: 400px;
    color: $white;
}
}