@import '../../css/globals';


// @media all and (max-width:600px){
//     #biiinge-popupbar{
//         display: none;
//     }
//     #login-section1__container{
//         overflow-y: auto;
//     .login-section1__background{
//         height: 100vh !important;
//         img{
//             height: 100vh;
//         }
//     }
//     .login-section1{
//         &__details{
            
//         &__container{
//                 width:95% !important;
//                 min-height: 80vh;
// left:2.5% !important;
// top:15% !important;
// img{
//     width:100% !important;
//     min-height: 70vh;
// }
// input{
//     height: 40px !important;
// }
// label:first-child{
//     margin-top: 10px;
// }
// button{
//     margin-top: 3% !important;
//     padding: 15px 20px !important;
// }
// .login-section1__actions p{
//     font-size: 0.8em !important;
// }
//         }
//     }
// }
//     }
// }

#user-section1{
  
    &__container{
    overflow: hidden;
}
}

.user-section1{
    &__background{
        height: 100vh;
        padding: 0 !important;
        position: fixed;
        img{
            height: 100%;
        }
    }
    &__input{
        text-align: left;
        margin-top:20px;
    }
    &__title{
        margin-top:10px;
    }
    &__actions{
        position: absolute;
        bottom: -30px;
        width: 100%;
        p:first-child{
            float: left;
        }
        p:last-child{
            float: right;
        }
    }
    &__center-piece{
        position: relative;
        
        height: 100vh !important;
        h2{
            font-weight: 400 !important;
            font-size: 2.3em !important;
        }
        label{
    font-weight: 400;
    color: $light-grey-color;
        }
        input{
            height: 40px;
            background: #F2F2F220;
            border: none;
            width: 100%;
            margin: auto;
            padding-left: 10%;
            &:focus{
                background: inherit !important;
            }
            &::placeholder{
              color:$white ;
              opacity: 0.5;
              font-size: 0.8em;
              transform: translateY(-2px);
            }
          }
          button{
              margin: auto;
              transform: translateX(10%);
          }
    }
    &__popup{
    &__details{
        width:80%;
        margin: auto;
        text-align:center;
    }
    &__container{
    z-index:5;
    position: absolute;
    padding-top: 20px;
        padding-bottom: 20px;
    width: 40%;
    left: 28%;
    top: 20%;
          /* Black */
    
    background: $primary-color;
   @include highlight-glow-max
}

}
}
@media all and (max-width:600px){
    #biiinge-popupbar{
        display: none;
    }
    #user-section1{
  
        &__container{
        overflow-y: auto;
    }
    }
   
  .user-section1{
    &__center-piece{
       height: 170vh !important;
       h2{
        font-size: 1.4em !important;
    }
    }
  &__actions{
      bottom:-40px;
      p{
          float: none !important;
          text-align: center;
          margin-top:10px;
      }
  }
      &__popup{
        &__container{
            width: 90%;
            left: 5%;
            top:12%;
           
        }
      }
  }
  .login-section1__container{
    overflow: hidden;
   
    .user-section1{
        &__actions{
            bottom:-70px;
        }
        &__center-piece{
            height: 100vh !important;
          
        }
        &__popup{
            &__container{
                top:20%;
            }}
    }
}
}