@import '../../css/globals';
#explore-sections{
    &__titlebar{
        border-top: 0.2px solid $dark-grey-color;
        border-bottom: 0.2px solid $dark-grey-color;
        min-height: 50px;
        padding: 25px 25px 25px 7%;
       height: 100px;
       box-sizing: border-box;
   
    }
}

.explore-sections{
    &__container{
        top:0;
        bottom:0;
        position:relative;
        padding-bottom:30px;
    }
    &__no-height{
        width:100%;
                height:100%;
                position:relative;
    }
    &__teaser{
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        align-items: center;
        &__background{
            background: $teaser-bg;
        }
        img{
            width:130px;
            margin: auto;
        }
    }
    // &__height{

    // }
    &__xs{
        width:60px;
        opacity:"0.8";
        z-index:5;
        position:fixed;
        top:0;
        bottom:0;
        padding-bottom:40px;
    }
    &__titlebar{
        &__togglebar
        {
            position: absolute;
            width: 10px;
            height: 2px;
            background: $dark-grey-color;
            transition: ease-in 0.3s;
            cursor: pointer;
            margin-top: 2%;
        }
    }
}
.explore-section4__teaser,.explore-section6__teaser{

       background: transparent !important;
       img{
        width: 290px;
       }
}
.explore-sections__titlebar__togglebar:hover:nth-child(2)
{
    transform: rotate(90deg);
}

#explore-section1
{ max-width: 600px;
    &__section{
        width:100%;
        height: 100%;
        background: $primary-color;
       
    }
    &__description
    {
        position: absolute;
        top:30%;
        left:15%;
        z-index: 2;
        overflow: hidden;
        h5{         
            line-height: 30px;
            /* or 150% */
            letter-spacing: 0.02em;
            margin-top: 20px;
        }
    }
    &__thumbnail-actions
    {
        margin: 20px auto;
    }
}
.explore-section1{ 
    &__ratings{
    max-width: 400px;
    color: $white;
}
}

#explore-section2{
    &__container{
        padding-top:30px;
        padding-bottom:30px;
        .biiinge-card{
            height: auto !important;
            min-height: 320px !important;
        }
    }
    &__trending__container{

    margin: 20px auto;
    margin-bottom: 0px;
    padding-bottom: 50px;
    .biiinge-card{
        width: 240px;
        height: 320px;
        margin:5px 20px;
        position: relative;
        &__date{
            opacity: 0.4;
            // margin-right: 50px;
        }
    }
}

}

 #explore-section3{
     &__friends__container{
     padding: 25px 25px 0px 5%;
 }
 &__friends__watched{
   transform: translateY(-20px);
}
}
 
.explore-filter__container
{
    width: 100%;
    padding: 1% 7%;
    background: $dark-tint;
    .biiinge-button__rounded{
    font-weight: 400;}
}
.explore-filter__active{
    background: $accent-color;
    color: $primary-color;
    font-weight: 700;
}

#explore-section4__justaired__container{
    position: relative;
    display:flex;justify-content:space-between; align-items:center;
}
.biiinge-card{
    &__date{
        opacity: 0.6;}
    &__movies
        {
            display: inline-block;
            vertical-align: bottom;
            width: 15%;
            margin: 10px auto;
            margin-bottom: 40px;
            height:auto;
            cursor: pointer;
            
            //  background:blue
            img{
                height: 400px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
        .biiinge-card__movies:not(:nth-child(6n))
        {
            margin-right: 2% !important;
        }

.explore-section5
{
    &__movies{
        padding: 1% 4% 0.5% 7% ;
        &__row{
            width: 100%;
            height: auto;
        }
        &__container{
            
            padding: 4% 10% 4% 10% ;
            width: 100%;
            height: auto;
        }
        
       
    }

}
.explore-trailer__card{
    height: 712px;
    video{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.explore-section6{
    &__schedules{
        &__container{
            padding: 4% 10% 4% 7% ;
            width: 100%;
            height: auto;
        }
        &__card{
    
        width: 51%;
        height: 400px;
        margin-right: 4%;
        display: inline-block;
        img{
            height: 100%;
        }
    
}
    }
}

.explore-section7{
    &__tvshows{
        &__container{
            padding: 1% 4% 1% 7% !important;
            width: 100%;
            height: auto;
        }
        &__card{
    
        width: 31.6%;
        height: auto;
       margin: 10px auto;
        display: inline-block;
        img{
            height: 100%;
        }
    
}&__card:not(:nth-child(3n)) {
    margin-right: 2%;

}
    }
}

#explore-section8{
    &__container{
        background: $accent-color ;
        padding-top: 20px;
    }
}
.explore-section8{
  
    &__kidstv{
        padding: 1% 4% 0.5% 7% ;
        width: 100%;
            height: auto;
            background: $accent-color !important;
        &__container{
            padding:  1% 4% 0.5% 7%  !important;
            width: 100%;
            height: auto;
            background: $accent-color !important;
         
        }
        &__card{
    
        width: 15%;
        height: auto;
       margin: 10px auto;
        display: inline-block;
        img{
            height: 100%;
        }
    
}&__card:not(:nth-child(3n)) {
    margin-right: 2%;

}
    }
}


@media all and (max-width:900px){
    .explore-sections{

        &__teaser{
          
            img{
                width:90px;
                margin: auto;
            }
        }
        // &__height{
    
    }
    .explore-section4__teaser,.explore-section6__teaser{
    
           background: transparent !important;
           img{
            width: 220px;
           }
    }
    #explore-section2__container{
        padding-top:0 !important;
        padding-bottom: 20px !important;
    }
    #explore-section2__trending__container{
        padding-bottom: 10px !important;
        .biiinge-card{
            width:200px !important;
           
            &__image{
            width:200px !important;
            height: 250px !important;
            padding-bottom: 0 !important;
        img{
            height: 100% !important;
        }
        }
        }
    }
      .explore-section2__teaser,.explore-section3__teaser,.explore-section5__teaser{
         
          img{
            //   height: 100%;
              object-fit: cover;
          }
      }
    .explore-section1{
        &__image {
        height: 100vh !important;
        img{
            height: 100vh !important;
        }
    }}
    .explore-filter__container{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #explore-sections{
        &__titlebar{   
            min-height: 60px !important;
            padding: 15px 25px 15px 7% !important;
           height: auto !important;
           box-sizing: border-box !important;
           margin-bottom: 10px;
           h1{
               width: 100%;
           }
        }
    }
    #explore-section1{
        
        &__container{
            height: auto !important;
        }
        &__description{
            top: 35% !important;
            left:5% !important;
            h2{
                font-weight: 700 !important;
            }
            h5{
                max-width: 400px !important;
                letter-spacing: 0.04em;
                font-weight: 100 !important;
                opacity: 0.8;
            }
        }
        
    
    }
    .explore-section6__schedules__card {
        width: 75% !important;
        height: 400px !important;
    }
      .explore-section5__movies,.explore-section8__kidstv__container,.explore-section6__schedules__container,.explore-section7__tvshows__container {
        padding: 2.5% !important;
        padding-right: 1% !important;
      }
      #explore-section3__friends__container{
        padding-top: 0px !important;
        // padding-bottom: 1px !important;
      }
      .explore-section7__tvshows__card {
        width: 48%;
        height: auto;
        &:not(:nth-child(2n)){
        margin-right: 2%;}
    }
  }