@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap');
@import './css/globals';
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family:$font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:$white;
  background: $primary-color;
  font-size: $font-size;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw !important;
}
input:focus{
  outline:none !important;
  border: 1px solid $light-grey-color;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark-blend-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width:6px;
  background: $dark-grey-color;
border-radius: 5px;
transition: 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#root{
  width: 100% !important;
}
img{
  width:100%;
}
.d-inline-block {
  width:100%;
  .item{
  display: inline-block;
  vertical-align: bottom;
 margin-right:5px ;
}

 .item:not(:first-child):not(:last-child)
{
  margin: auto 10px !important;
}
 .item:last-child{
  text-align: right;
}
}
.d-inline-block-no-margin
{
  .item{
    margin:0px !important ;
  }
}
.d-flex
{
  display: flex;
  justify-content: left;
  align-items: space-between;
}
.d-flex-spaced
{
  display: flex;
  justify-content: space-between;
}
.d-flex-center
{
  justify-content: center;
  align-items: unset !important;
}
.d-flex-right
{
  justify-content: flex-end;
  align-items: center ;
}
.biiinge-button
{
 padding: 15px 40px 15px 40px !important;
/* Light Green */
border: none;
background:$accent-color;
color: $white;
font-weight: 500;
font-family:$font-stack;
font-size: $font-size;
letter-spacing: 0.02em;
transition: 0.4s ease-in-out;
cursor: pointer;
&__accent{
  background: $primary-color;
color: $accent-color;
}
&__rounded{
  padding: 7.5px 20px 7.5px 20px !important;
  background: $dark-blend-color;
  color: $light-grey-color;
  border-radius: 20px;
  margin: auto 10px;
}
&__small{
  padding: 2px 5px 2px 5px !important;
  color: $primary-color;
  font-size: 0.7em;
  font-weight: 700;
  margin-left:10px;
  border-radius:2px;
  line-height: 15px;
}
}
.biiinge-button:hover{
  transform: scale(1.07);
  margin-left: 5px;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
   display: none;
  }
  .biiinge-card {
    display: inline-block;
    cursor: pointer;
  }
}
.strip{
  padding: 0 !important;
  margin: 0 !important;
}
.color-black{
  color: $primary-color;
}
.biiinge-pagination{
  &__container{
    position: absolute;
    bottom:10%;
    left:46%;
    z-index: 5;
    margin:auto;
  }
  &__page-indicator{
display: inline-block;
height: 10px;
width: 3px;
border-radius: 1px;
margin-left:20px;
background: $dark-grey-color;
&-active{
  background: #F2F2F2;
filter: blur(0.4px);
}
  }
  &__pager{
    position: absolute;
    bottom:-15px;
    right:-20px;
    word-spacing: 1px;
  }
  
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.biiinge-searchbar{
  &__container{
    height:40px;
    width: 40%;
    position: fixed;
    z-index: 10;
top:2%;
left:30%;
.item{
  display: inline-block;
  vertical-align: bottom;
}
  }
  
  &__input{ 
  width: 75%;
  height: 100%;
  input{
    height: 40px;
    background: #F2F2F220;
    border: none;
    border-radius: 2px;
    width: 100%;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    padding-left: 10%;
    &::placeholder{
      color:$white ;
      opacity: 0.5;
      font-size: 0.8em;
      transform: translateY(-2px);
    }
  }
}
  &__type{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: 40px;
    padding: 1.5% 10px 1.5% 10px;
    border-right: 1px solid #F2F2F210;
    background: $dark-blend-color;
    color: $light-grey-color;
  }
  &__button{
    
width: 35px;
height: 40px;
text-align: center;
    background: $dark-blend-color;
    border-top-right-radius:30px ;
    border-bottom-right-radius:30px ;
    box-sizing: border-box;
    color: #F2F2F260;
    transition: 0.3s ease-in;
    i{
    transform: translate(-2px,9px);
    }
    &:hover{
      cursor: pointer;
    color: #F2F2F2;
    }
  }
}

.biiinge-sheared-card__image-right
{
width: 100%;
height: 100%;
backdrop-filter: blur(1px);
-webkit-transform-style: preserve-3d; /* Safari 3-8  */  
-webkit-transform: rotateY(-10deg); /* Safari 3-8  */
transform-style: preserve-3d;
transform: rotateY(-190deg);
object-fit: cover;
border-radius: 2px;

}
.biiinge-sheared-card-active
{
width: 100%;
height: 100%;
backdrop-filter: blur(1px);
-webkit-transform-style: preserve-3d;  /* Safari 3-8  */
transform-style: preserve-3d;
object-fit: cover;
border-radius: 2px;

}
.biiinge-card-wide{
  width: 366px;
   height: 200px;
}
.biiinge-card__rounded {
height: 130px;
margin-left:40px;
&:hover img{
   
  border:2px solid $light-grey-color !important;
}
&__active img{
   border:2px solid $accent-color !important;
  //  filter: blur(2px);
}
  .image__active
{
  position: absolute;
  top:30px;
  width: 120px;
  height: 200px;
  background: $dark-tint;
  // background:radial-gradient(50% 50% at 50% 50%, rgba(5, 5, 5, 0) 0%, #0d0d0d 100%); 
  border-top-right-radius: 50px;
  border-top-left-radius: 50px; 
}
}
.biiinge-sheared-card
{

position: relative;
height: 350px;
margin: 5% auto;
margin-left: 2%;
-webkit-perspective: 300px; /* Safari 4-8  */
perspective: 300px;
  display: inline-block;
  vertical-align: middle;
}
.biiinge-sheared-card:not(:nth-child(2)){
 
  width: 30%;
}
.biiinge-sheared-card:nth-child(2){
  
  width: 40%;
}
.biiinge-sheared-card__image-left 
{
width: 100%;
height: 100%;
/* Angular Black Gradient */
backdrop-filter: blur(1px);
-webkit-transform-style: preserve-3d; /* Safari 3-8  */  
-webkit-transform: rotateY(10deg); /* Safari 3-8  */
transform-style: preserve-3d;
transform: rotateY(10deg);
object-fit: cover;
border-radius: 2px;

}

@media all and (max-width:900px){

  .biiinge-card-wide{
   width: 250px !important;
   height: 170px !important;
  }
  
  .biiinge-sheared-card{
    position: relative;
    height: 200px !important;
    margin: 5% auto;
    margin-left: 10px;
    perspective: none !important;
    margin-right: 10px;
    background: transparent !important;
    width: auto !important;
  }
  .biiinge-button__rounded,.biiinge-card__rounded{
   transform: scale(0.8);
   margin-right: 0px !important;
   margin-left: 5px !important;
  }
  .biiinge-sheared-card-active{
    width:320px !important;
  }
.biiinge-sheared-card__image-left 
{
/* Angular Black Gradient */
backdrop-filter: blur(1px);
-webkit-transform-style: none; /* Safari 3-8  */  
-webkit-transform: rotateY(0deg); /* Safari 3-8  */
transform-style:none;
transform: rotateY(0deg);
object-fit: cover;
width:320px;
border-radius: 2px;
}
.biiinge-sheared-card__image-right {
  /* Angular Black Gradient */
  backdrop-filter: blur(1px);
  -webkit-transform-style: none; /* Safari 3-8  */  
  -webkit-transform: rotateY(0deg); /* Safari 3-8  */
  transform-style:none;
  transform: rotateY(0deg);
  object-fit: cover;
  border-radius: 2px;
  width:320px;
}

  .biiinge-searchbar{
    &__container{
      width: 90%;
  left:10%;
  
  }
  &__input{ 
    width: 80%;
    input{
      padding-top:3px !important;
      box-sizing: border-box;
      padding-left: 7%;
    }
  }
  &__type{
    display: none !important;
  }
}
  #biiinge-sidenav__container{
      display: none;
  }
  .biiinge-card{
    &__movies{
        
    width: 47.5% !important;
    }
  }
}